# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

# Challenge 1 - Functions. 

A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing. Create a function to find the summation of the number of every number from 1 to num.

In [3]:
num=76

In [5]:
def summation(num):
    num=76
    suma = 0
    for i in range(1,num +1):
        suma += i
    return suma
summation(76)

2926

In [6]:
print(summation)

<function summation at 0x7faa5d4bf5f0>

# Challenge 2 - Positional arguments, Args and Kwargs.

The syntax *args and **kwargs in function definitions is used to pass a variable number of arguments to a function. The single asterisk form (*args) is used to pass a non-keyworded, variable-length argument list, and the double asterisk form is used to pass a keyworded, variable-length argument list. Create a function to find the summation of all elements of the array.

In [13]:
array=[3, 8, 16]

In [18]:
def summation2(*args):
    return(sum(*args))

In [19]:
summation2(array)

27

Now, do the same thing with positional arguments.

In [39]:
 def summation3(a, b, c):
    res=[]
    suma=a+b
    for i in range(c):
        print(i)
        res.append(c**i *suma) 
        return (res)

In [34]:
print (summation3)

<function summation3 at 0x7faa5d3af5f0>

Given the next dictionary of M&Ms, create a function to sum all non red M&Ms.

In [73]:
dictionary={'red':3, 'blue':8, 'green':24, 'orange':12, 'purple':10}

In [76]:
dictionary['blue'] + dictionary ['green']+ dictionary ['orange']+ dictionary ['purple']- dictionary ['red']

51

In [49]:
print (summation4)

<function summation4 at 0x7faa5d3145f0>

Below, create a function to sum all following elements.

In [63]:
a=4
b=6
c=15
d=[48, 465, 23, 96]
e={'A':16, 'B':32, 'C':64}

In [90]:

    # This function returns the sum of a,b,c,d and e
    # You need to define the function input
    # Your code here:
summation5 = {'a':4, 'b':6, 'c':15}
summationd = [48, 465, 23, 96]
summatione = {'A':16, 'B':32, 'C':64}
print("Dictionary: ", summation5)
total = 0
for i in summation5.values():
    total = total + i
print("\nThe Total Sum of Values : ", total)
print("Dictionary: ", summatione)
total = 0
for i in summatione.values():
    total = total + i
print("\nThe Total Sum of Values : ", total)
total = 0

Dictionary:  {'a': 4, 'b': 6, 'c': 15}

The Total Sum of Values :  25
Dictionary:  {'A': 16, 'B': 32, 'C': 64}

The Total Sum of Values :  112

In [ ]:
# print summation5

# Challenge 3 - Iterators, Generators and `yield`. 

In iterator in Python is an object that represents a stream of data. However, iterators contain a countable number of values. We traverse through the iterator and return one value at a time. All iterators support a `next` function that allows us to traverse through the iterator. We can create an iterator using the `iter` function that comes with the base package of Python. Below is an example of an iterator.

In [1]:
# We first define our iterator:

iterator = iter([1,2,3])

# We can now iterate through the object using the next function

print(next(iterator))

1

In [2]:
# We continue to iterate through the iterator.

print(next(iterator))

2

In [3]:
print(next(iterator))

3

In [4]:
# After we have iterated through all elements, we will get a StopIteration Error

print(next(iterator))

StopIteration: ignored

In [8]:
# We can also iterate through an iterator using a for loop like this:
# Note: we cannot go back directly in an iterator once we have traversed through the elements. 
# This is why we are redefining the iterator below

iterator = iter([1,2,3])

for i in iterator:
    print(i)

1
2
3

In the cell below, write a function that takes an iterator and returns the first element in the iterator and returns the first element in the iterator that is divisible by 2. Assume that all iterators contain only numeric data. If we have not found a single element that is divisible by 2, return zero.

In [18]:
def divisible2(iterator):
  iterator=iter([1,2,3])

    # This function takes an iterable and returns the first element that is divisible by 2 and zero otherwise
    # Input: Iterable
    # Output: Integer
    
    # Sample Input: iter([1,2,3])
    # Sample Output: 2
    
    # Your code here:

    def __init__(divisible2):
        divisible2 =iter([1,2,3])
 
    def __iter__(divisible2):
        divisible2 = 3
        return divisible2
    def __next__(divisible2):
        divisible2 = 0
        if x = x/2%:
          return x
          if not return 0
for i in iterator(3):
    print(i)

IndentationError: ignored

In [ ]:
# print divisible2

### Generators

It is quite difficult to create your own iterator since you would have to implement a `next` function. Generators are functions that enable us to create iterators. The difference between a function and a generator is that instead of using `return`, we use `yield`. For example, below we have a function that returns an iterator containing the numbers 0 through n:

In [20]:
def firstn(n):
     number = 0
     while number < n:
         yield number
         number = number + 1

If we pass 5 to the function, we will see that we have a iterator containing the numbers 0 through 4.

In [21]:
iterator = firstn(5)

for i in iterator:
    print(i)

0
1
2
3
4

In the cell below, create a generator that takes a number and returns an iterator containing all even numbers between 0 and the number you passed to the generator.

In [22]:
def even_iterator(n):
    # This function produces an iterator containing all even numbers between 0 and n
    # Input: integer
    # Output: iterator
    
    # Sample Input: 5
    # Sample Output: iter([0, 2, 4])

SyntaxError: ignored

In [ ]:
# print even_iterator

In [29]:
def my_gen():
    n = 1
    print('first')
    yield n
    n += 1
    print('second')
    yield n
    n += 1
    print('last')
    yield n
for item in my_gen():
    print(item)

first
1
second
2
last
3